{% extends 'admin/admin_base.html' %}

{% block title %}
    帮助
{% endblock %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>皮皮虾的帮助页面</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.皮皮虾是啥？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;皮皮虾由 他 <code>0x0004</code>开发的，是一个开源个人博客系统，采用Flask Web 框架，
        有以下特点：
    </p>
    <p>
        1.界面简洁，前端框架为Bootstrap，支持响应式
    </p>
    <p>
        2.后台管理强大，一旦部署完成，可轻松管理博客
    </p>
    <p>
        3.代码通俗易懂，方便阅读理解
    </p>
    <p>
        4.部署文档详细，涵盖CentOS/Debian/Heroku等多种平台部署
    </p>
    <p>
        5.技术支持，对于部署和使用出现的问题，俺可提供技术支持
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;由于以上特点，所以使用皮皮虾来作为个人博客平台，可以说是相当明智了。
    </p>
    <h5 style="color: #337ab7"><strong>2.皮皮虾免费吗？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;皮皮虾是开源的，是免费的，是在GitHub上可以找到的，
        可以试用并进行修改和扩展开发。
    </p>
    <h5 style="color: #337ab7"><strong>3.如何获得 他 的帮助与支持？</strong></h5>

    <p>    &nbsp;&nbsp;&nbsp;+1s
    </p>
    <p>在后面给出的链接中。
    </p>
    <h5 style="color: #337ab7"><strong>4.相关链接</strong></h5>
    <p>Source Code：<a href="https://github.com/0x0004/Blog" target="_blank">https://github.com/0x0004/Blog</a></p>
    <p>微博：<a href="http://weibo.com/geeksunc" target="_blank"></a>）</p>
    <strong>有问题请在微博上给我留言，我承诺绝不会提供技术支持(误)。</strong>
    <p>
        <strong>就是這樣喵~</strong></p>>
</div>
{% endblock %}